In [1]:
# importing modules

import array as arr

In [2]:
# arr -> module
# array -> constructor
# array('i', [1,2,3]) -> here, 'i' is the first element also called as the type code/ datatype identifier. 'i' stands for integer, 'd' would be for decimal or float values, etc. 
# the datatype identifier corresponds to the list of integers specified as the 2nd element of the array() constructor

a = arr.array('i',[1,2,3,4,5])

In [3]:
print(a)

array('i', [1, 2, 3, 4, 5])

In [4]:
#accessing elements of the arrays

a[0]    # accessing 1st element

1

In [5]:
a[3]    # accessing 4th element

4

In [6]:
a[-1]   # accessing last element

5

In [7]:
a[-2]   # accessing 2nd last element

4

In [8]:
#finding length of the array

len(a)

5

In [9]:
# Adding elements to an array
# append() -> adds one element to the end of the array
# extend() -> adds multiple elements to the end of the array
# insert() -> adds specific elements at specific positions of the array

a = arr.array('i', [1,2,3])

a.append(4)       # appending one value at the end of the array
print(a)

a.extend([5,6])   # appending multiple values at the end of the array -> the values have to be added as a list i.e., in square brackets '[]'
print(a)    

a.insert(3,0)     # appending one value at a specific position. Here, we insert the value '0' in the 2nd index number i.e., 4th position
print(a)

array('i', [1, 2, 3, 4])
array('i', [1, 2, 3, 4, 5, 6])
array('i', [1, 2, 3, 0, 4, 5, 6])

In [10]:
# Removing elements from an array

# pop() -> removes a value and returns it.
### Can take either no parameters or one parameter.
### The paramenter specified is the index value of the element to be removed. 

# remove() -> removes a specific value without returning anyting. 
### takes one parameter which is the element itself


print(a)
print("popping last element:", a.pop())
print("popping specific element using the index value: ", a.pop(3))
print("using remove() function:",a.remove(5), ", and now printing the array:", a)

array('i', [1, 2, 3, 0, 4, 5, 6])
popping last element: 6
popping specific element using the index value:  0
using remove() function: None , and now printing the array: array('i', [1, 2, 3, 4])

In [12]:
# array concatenation

print(a)
b = arr.array('i',[100,101,102])
print(b)

#using '+' to concatenate 'a' and 'b' 

c = arr.array('i')
c = a + b
print(c)

array('i', [1, 2, 3, 4])
array('i', [100, 101, 102])
array('i', [1, 2, 3, 4, 100, 101, 102])

In [20]:
# Slicing an Array

# slicing an array refers to fetching particular values from the array
# think of it like the statement, "get me a slice of pie". Here, you cut out a slice and get it. 
# Similarly, slicing an array means cutting out a piece of the array and getting it. 
# We use the colon symbol ':' to slice an array and write the index numbers before and after the colon symbol. 
print("Array: ", c, "\n")

print(c[0:3])   # 0 -> from the 1st index number, 3 -> to just before the 4th index number

Array:  array('i', [1, 2, 3, 4, 100, 101, 102])

array('i', [1, 2, 3])

In [19]:
print("Array: ", c, "\n")
print(c[0:-2])    # "-2" -> second last index number in the array

Array:  array('i', [1, 2, 3, 4, 100, 101, 102])

array('i', [1, 2, 3, 4, 100])

In [23]:
# Reversing an Array

# We use double colon symbols "::-1" to reverse arrays

print("Array:", c, "\n")

print(c[::-1])

Array: array('i', [1, 2, 3, 4, 100, 101, 102])

array('i', [102, 101, 100, 4, 3, 2, 1])

In [25]:
# Looping through an array
print("array:",a,"\n")

for x in a:
  print(x)

array: array('i', [1, 2, 3, 4])

1
2
3
4

In [28]:
print("array:",c,"\n")

for x in c[0:-2]:
  print(x)

array: array('i', [1, 2, 3, 4, 100, 101, 102])

1
2
3
4
100

In [35]:
print("array:",c,"\n")

for x in c[0:-2]:
  print(x if x==3 else 0)

array: array('i', [1, 2, 3, 4, 100, 101, 102])

0
0
3
0
0

In [39]:
print("Array:", c, "\n")

temp = 0              # while loop initialization

while temp<4:         # while loop condition
  print(c[temp])
  temp = temp + 1     # while loop increment/decrement

Array: array('i', [1, 2, 3, 4, 100, 101, 102])

1
2
3
4

In [40]:
print("Array:", c, "\n")

temp = 0              # while loop initialization

while temp<4:         # while loop condition
  print(c[temp])
  temp += 1     # while loop increment/decrement

Array: array('i', [1, 2, 3, 4, 100, 101, 102])

1
2
3
4

In [41]:
print("Array:", c, "\n")

temp = 0              # while loop initialization

while temp < len(c):         # while loop condition
  print(c[temp])
  temp += 1     # while loop increment/decrement

Array: array('i', [1, 2, 3, 4, 100, 101, 102])

1
2
3
4
100
101
102