<a href="https://colab.research.google.com/github/bhavika-chavda/Practice/blob/main/Python_Hash_Table_and_HashMap.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Agenda

1. What is Hashtable or Hashmap?

They are a type of data structure that maps keys to its value pairs. It implements the abstract array datatype. It makes it easier and faster to access data. 

In general, hashtables store key value pairs and the key is generated using a hash function. 

Implemented using the "Dictionary" datatype. 

2. Creating Dictionaries
3. Nested Dictionaries
4. Performing Operations on Hash Tables
    - Accessing Items
    - Updating Values
    - Deleting Entries
5. Converting Dictionaries into Dataframe

In [1]:
# Creating Dictionaries

# method 1 -> using {}

my_dict = {'a' : '1', 'b': "2"}

print(my_dict)
type(my_dict)

{'a': '1', 'b': '2'}

dict

In [2]:
# method 2 -> using. dict()

new_dict = dict(a = '1', b = "2")

print(new_dict)
type(new_dict)

{'a': '1', 'b': '2'}

dict

In [3]:
# Nested Dictionaries -> dict. within a dict.

emp_details = {'Employee': {'X': {'id': 1, 'salary': 500000, 'designation': 'database developer'}, 
                            'Y': {'id': 2, 'salary': 600000, 'designation': 'data scientist'}}}

In [4]:
print(emp_details)

{'Employee': {'X': {'id': 1, 'salary': 500000, 'designation': 'database developer'}, 'Y': {'id': 2, 'salary': 600000, 'designation': 'data scientist'}}}

In [5]:
"""
Performing Operations on Hash Tables
    - Accessing Items
    - Updating Values
    - Deleting Entries
"""

# Accessing Items

my_dict['a']

'1'

In [6]:
print(my_dict)

print(my_dict.keys())

print(my_dict.values())

#using get() and defining key inside the function
print(my_dict.get('a'))

#using for loop to print all keys
for x in my_dict:
  print(x)

#using for loop to print all values
for x in my_dict.values():
  print(x)

#using for loop to print keys and values
for x,y in my_dict.items():
  print(x,y)

{'a': '1', 'b': '2'}
dict_keys(['a', 'b'])
dict_values(['1', '2'])
1
a
b
1
2
a 1
b 2

In [7]:
#updating values in dictionaries

my_dict['a'] = 100
print(my_dict)

#adding key-value pair to dict
my_dict['c'] = 3
print(my_dict)

{'a': 100, 'b': '2'}
{'a': 100, 'b': '2', 'c': 3}

In [8]:
#deleting items in dictionary

#method 1 -> pop()
my_dict.pop('a')
print(my_dict)

#method 2 -> popitem() -> removes last element
my_dict.popitem()
print(my_dict)

#method 3 -> del()
del my_dict['b']
print(my_dict)

{'b': '2', 'c': 3}
{'b': '2'}
{}

In [10]:
#printing nested dictionary for next segment

print(emp_details)

{'Employee': {'X': {'id': 1, 'salary': 500000, 'designation': 'database developer'}, 'Y': {'id': 2, 'salary': 600000, 'designation': 'data scientist'}}}

In [11]:
# Converting Dictionary to Dataframe

import pandas as pd

df = pd.DataFrame(emp_details['Employee'])

print(df)

                              X               Y
id                            1               2
salary                   500000          600000
designation  database developer  data scientist